---
layout: base-layout.liquid
show_date: true
show_tags: false
---
<div class="grid md:grid-cols-2 grid-cols-1 justify-items-center mt-4 gap-4 m-auto">
  {% for post in posts %}
  <div class="transition duration-100 bg-white rounded shadow border text-center w-full hover:bg-yellow-100 transform md:hover:-translate-y-1 focus:bg-yellow-100">
    <a class="w-full h-full p-6" href="{{ post.url | url }}">
    <h2 class="text-xl font=bold mb-4 mt-0 p-2">
      {{ post.data.title }}
    </h2>
    <h3 class="text-l">
      {% if show_date %}
      {{ post.date | readableDate }}
    {% endif %}
    {% if show_date and show_tags %}
      <b>·</b> 
    {% endif %}
    {% if show_tags %}
      {{ post.data.tags[0] }}
    {% endif %}
    </h3>
    </a>
  </div>
{% endfor %}
</div>
